<div class="container-fluid bg-light text-center" >
    <div class="row">
      <div class="col">
        <img alt="logo" id="logo" src="../assets/images/logo-cromados1.png"/>
      </div>

      <div class="col">
        <h5>Donde estamos</h5>
        <address>
              Carrera 8 # 6- 153
              Barranquilla, Atlántico
              Colombia
        </address>
      </div>

      <div class="col">
        <h5>Síguenos</h5>
        <ul class="">
          <li><a id="f-icon-f" href="https://www.facebook.com/Cromados-Niquelados-Barranquilla-114410456669666"><i class="fa fa-facebook-square"></i><span class="text-dark">Facebook</span></a></li>  
            <li><a id="f-icon-w" href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i><span class="text-dark">Whatsapp</span></a></li>     
        </ul>
      </div>
    </div>
  </div>
